@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

@section Head {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
}

<div class="row mt-4">
    <section>
        @{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
                <div>
                    <p>
                        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                            article
                            about setting up this ASP.NET application to support logging in via external services
                        </a>.
                    </p>
                </div>
            }
            else
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins!)
                            {
                                var providerLower = provider.Name.ToLower();

                                <button type="submit" class="btn btn-primary provider @providerLower-btn" name="provider" value="@provider.Name" title="Sign up using your @provider.DisplayName account">
                                    <i class="fs-5 me-2 bi-@providerLower"></i> Sign up with @provider.DisplayName
                                </button>
                            }
                        </p>
                    </div>
                </form>
            }
        }
    </section>
</div>

<div class="mt-2 fs-5">
    Already have an account? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Log in</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
